.container-spesial {
    background-color: rgb(243, 237, 237);
    padding: 40px;
}

.container h3 {
    color: rgb(189, 10, 189);
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.text-center p {
    color: rgb(199, 191, 191);
    font-size: 15px;
}

.row-designer .text-center img {
    border-radius: 50%;
    width: 75px;
    height: 75px;

}

.row-footer {
    padding-top: 50px;
    margin-top: 20px;

}

.text-right img {
    height: 24px;
    width: 24px;

}